@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1685802800556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-zuojiantou:before {
  content: "\e60e";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-tanhao:before {
  content: "\e644";
}

.icon-yueliang:before {
  content: "\e764";
}

.icon-kehu:before {
  content: "\e625";
}

.icon-fanhui:before {
  content: "\e61e";
}

