@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1686108464540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\f015c";
}

.icon-quxiao:before {
  content: "\e664";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-fanye:before {
  content: "\e756";
}

.icon-fanye1:before {
  content: "\e757";
}

.icon-guanbi:before {
  content: "\e60c";
}

.icon-zuojiantou:before {
  content: "\e60e";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-yueliang:before {
  content: "\e764";
}

.icon-kehu:before {
  content: "\e625";
}

.icon-banshou:before {
  content: "\e622";
}

.icon-fanhui:before {
  content: "\e61e";
}

